<script setup lang="ts">
import Table from "@/components/Table.vue";
import FilterRange from "@/components/FilterRange.vue";
import Chart from "@/components/Chart.vue";
import FilterCountry from "@/components/FilterCountry.vue";
import { useCitiesStore } from "@/store/module/cities";
import { storeToRefs } from "pinia";
const citiesStore = useCitiesStore();
const { getCities } = storeToRefs(citiesStore);
</script>

<template>
  <div class="home-wrapper">
    <div>
      <Chart />
    </div>
    <div class="table-wrapper">
      <div class="head-wrapper">
        <div class="filters-wrapper">
          <FilterCountry />
          <FilterRange />
        </div>
      </div>
      <Table :cities="getCities" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.table-wrapper {
  background: #1a1a1a;
  padding: 25px 16px 18px 16px;
  border-radius: 16px;
}
.home-wrapper {
  display: flex;
  gap: 40px;
}
.head-wrapper {
  display: flex;
  padding-bottom: 20px;
  height: 100px;
}
.filters-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}
</style>
