<script setup lang="ts">
import { ref, computed, watch, ComputedRef } from "vue";
import { storeToRefs } from "pinia";
import { data, chartOptions } from "@/data/chartConfig";
import { ChartData } from "chart.js";
import { useCitiesStore } from "@/store/module/cities";
import { CityItem } from "@/store/interface/city";
import { averageArrays, getDays } from "@/helpers/helper";
const citiesStore = useCitiesStore();
const { getCity } = storeToRefs(citiesStore);

import { Bar } from "vue-chartjs";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from "chart.js";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
);

const updateKey = ref<number>(0);
const chartData = computed<ChartData<"bar", number[]>>(() => {
  return data;
});

watch(
  () => getCity,
  (city: ComputedRef<CityItem | null>) => {
    if (city.value) {
      data.datasets[0].data = averageArrays(
        city.value?.daily.apparent_temperature_min,
        city.value?.daily.apparent_temperature_max
      );

      data.labels = getDays(city.value?.daily.time);
      updateKey.value = updateKey.value + 1;
    }
  },
  { immediate: true, deep: true }
);
</script>

<template>
  <div class="chart-wrapper">
    {{ getCity?.city }}
    <Bar :key="updateKey" :data="chartData" :options="chartOptions" />
  </div>
</template>

<style lang="scss" scoped>
.chart-wrapper {
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 450px;
  padding: 50px 0;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 16px;
}
</style>
