<script setup lang="ts">
import { ref, watch, Ref } from "vue";
import { useCitiesStore } from "@/store/module/cities";
import { storeToRefs } from "pinia";
const citiesStore = useCitiesStore();
const { minNumber, maxNumber } = storeToRefs(citiesStore);
const minNumberItems = ref<number[]>([]);
const maxNumberItems = ref<number[]>([]);

watch(
  () => minNumber,
  (num: Ref<number>) => {
    minNumberItems.value = [];
    maxNumberItems.value = [];

    for (let j = num.value; j <= 80; j++) {
      maxNumberItems.value[maxNumberItems.value.length] = j;
    }
    for (let j = -80; j <= maxNumber.value; j++) {
      minNumberItems.value[minNumberItems.value.length] = j;
    }
  },
  { immediate: true, deep: true }
);

watch(
  () => maxNumber,
  (num: Ref<number>) => {
    minNumberItems.value = [];
    maxNumberItems.value = [];

    for (let j = minNumber.value; j <= 80; j++) {
      maxNumberItems.value[maxNumberItems.value.length] = j;
    }
    for (let j = -80; j <= num.value; j++) {
      minNumberItems.value[minNumberItems.value.length] = j;
    }
  },
  { immediate: true, deep: true }
);
</script>

<template>
  <v-select
    v-model="minNumber"
    :items="minNumberItems"
    variant="solo"
    label="Temparature min"
  ></v-select>
  <v-select
    v-model="maxNumber"
    :items="maxNumberItems"
    variant="solo"
    label="Temparature max"
  ></v-select>
</template>

<style lang="scss">
.v-select {
  flex: 1;
}
</style>
