<script setup lang="ts">
import { useCitiesStore } from "@/store/module/cities";
import { storeToRefs } from "pinia";
const citiesStore = useCitiesStore();
const { getCountries, selectedCountries } = storeToRefs(citiesStore);
</script>

<template>
  <v-autocomplete
    clearable
    label="Country"
    v-model="selectedCountries"
    :items="getCountries"
    multiple
    variant="solo"
    class="select-autocomplete"
    color="blue-grey lighten-2"
  >
    <template v-slot:selection="{ item, index }">
      <v-chip v-if="index < 1">
        <span>{{ item.title }}</span>
      </v-chip>
      <span v-if="index === 1" class="text-grey text-caption align-self-center">
        (+{{ selectedCountries.length - 1 }} others)
      </span>
    </template>
  </v-autocomplete>
</template>

<style lang="scss">
.select-autocomplete {
  width: 128px;
  flex: 2;

  & :deep(.v-selection-control__input input) {
    opacity: 1 !important;
  }
}
</style>
