<script setup lang="ts">
import { VDataTable } from "vuetify/labs/VDataTable";
import { headers } from "@/data/headers.ts";
import { CityItem } from "@/store/interface/city";
import { useCitiesStore } from "@/store/module/cities";
const { setCity } = useCitiesStore();

function handleClick(_e: Event, { item: { raw } }: any) {
  setCity(raw);
}

defineProps<{ cities: CityItem[] }>();
</script>

<template>
  <v-data-table
    :headers="headers"
    :items="cities"
    item-value="name"
    class="elevation"
    @click:row="handleClick"
    ><template #bottom></template
  ></v-data-table>
</template>

<style lang="scss" scoped>
.elevation {
  overflow-y: scroll;
  max-height: 285px;
  border: 1px solid #515151;

  & :deep(table thead tr th) {
    background-color: #030303;
  }

  & :deep(table thead tr th:not(:last-child)) {
    border-right: 1px solid #313131;
  }

  & :deep(table tbody tr td) {
    border-bottom: none !important;
  }

  & :deep(tbody tr:nth-child(even) .v-data-table__td) {
    background: #313131;
  }

  & :deep(table.v-table tbody td) {
    height: 40px;
    border: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  & :deep(td) {
    text-align: start;
  }
}
</style>
